
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
    --main-radius:5px;
    --main-padding:5px;
}

body{
  background-color: silver;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr;
   grid-template-areas: "nav nav nav" "main main main" "content1 content2 content3";
   grid-gap: 0.2rem;
   font-family:"inter",sans-serif ;
   font-weight: 800;
   text-transform: uppercase;
   font-size: 12px;
   text-align: center;
  }

nav{
    margin: 10px;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }

#main{
  grid-area: main;
  margin-top: 20px;
  padding: 20px 20px ;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background: url(./photo-1472289065668-ce650ac443d2.jpeg ) ;
}

#content1{
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);}

#content2{
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3{
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

@media (max-width:800px){
  .container{
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr   1.2r 1.2fr;
      grid-template-areas: "nav""main" "content1" "content2" "content3";
  }
}
